<h1>Testing gh pages v2 only!</h1>
<button (click)="inc()">Add 1</button>
&nbsp;
<button (click)="dec()">Sub 1</button>
<counter [value]=count></counter>
<img width="30%" src="https://firebasestorage.googleapis.com/v0/b/fire1-946cc.appspot.com/o/test%2F1697404132381_Lemon_Lime_Tree_2.jpg?alt=media&token=018b65b8-2837-4d9f-aa07-dcdb27fce55d"> 
<img width="30%" src="https://firebasestorage.googleapis.com/v0/b/fire1-946cc.appspot.com/o/test%2F1697580209548_IMG_20230907_182822054_BURST001.jpg?alt=media&token=7e7698a1-709a-4dd1-b6c5-1714dc26fc42">
<img width="30%" src="https://firebasestorage.googleapis.com/v0/b/fire1-946cc.appspot.com/o/test%2F1697625346678_IMG_20220616_195016746_BURST000_COVER_TOP.jpg?alt=media&token=6d079adc-c5d7-4c9b-a1f8-b108d1732a45">
<img width="30%" src="https://firebasestorage.googleapis.com/v0/b/fire1-946cc.appspot.com/o/test%2F1715525507911_IMG-20240409-WA0003.jpg?alt=media&token=ba75c4f9-1852-4322-bd41-a0bf826da632">
<img width="30%" src="https://firebasestorage.googleapis.com/v0/b/fire1-946cc.appspot.com/o/test%2F1708083646045_IMG-20240126-WA0002.jpg?alt=media&token=8da2ccc3-b627-49a2-8792-2c8af6eacaab">
<img width="30%" src="https://firebasestorage.googleapis.com/v0/b/fire1-946cc.appspot.com/o/test%2F1697379524675_IMG-20230804-WA0002.jpg?alt=media&token=57836520-4fce-40c2-ae51-adb0fd85d861">