



<h1>Testing gh pages v2 remote only!</h1>
<button mat-flat-button color="primary" (click)="inc()">Add 1</button>
&nbsp;
<button mat-flat-button color="accent" (click)="dec()">Sub 1</button>
&nbsp;
<button mat-flat-button color="warn" >warn flat button</button>
&nbsp;
<button mat-button>Basic</button>
<counter [value]=count></counter>
<img width="20%" src="https://firebasestorage.googleapis.com/v0/b/fire1-946cc.appspot.com/o/test%2F1697404132381_Lemon_Lime_Tree_2.jpg?alt=media&token=018b65b8-2837-4d9f-aa07-dcdb27fce55d"> 
<img width="20%" src="https://firebasestorage.googleapis.com/v0/b/fire1-946cc.appspot.com/o/test%2F1697580209548_IMG_20230907_182822054_BURST001.jpg?alt=media&token=7e7698a1-709a-4dd1-b6c5-1714dc26fc42">
<img width="20%" src="https://firebasestorage.googleapis.com/v0/b/fire1-946cc.appspot.com/o/test%2F1697625346678_IMG_20220616_195016746_BURST000_COVER_TOP.jpg?alt=media&token=6d079adc-c5d7-4c9b-a1f8-b108d1732a45">
<img width="20%" src="https://firebasestorage.googleapis.com/v0/b/fire1-946cc.appspot.com/o/test%2F1715525507911_IMG-20240409-WA0003.jpg?alt=media&token=ba75c4f9-1852-4322-bd41-a0bf826da632">
<br>
<img width="20%" src="https://firebasestorage.googleapis.com/v0/b/fire1-946cc.appspot.com/o/test%2F1708083646045_IMG-20240126-WA0002.jpg?alt=media&token=8da2ccc3-b627-49a2-8792-2c8af6eacaab">
<img width="20%" src="https://firebasestorage.googleapis.com/v0/b/fire1-946cc.appspot.com/o/test%2F1697379524675_IMG-20230804-WA0002.jpg?alt=media&token=57836520-4fce-40c2-ae51-adb0fd85d861">
<img width="20%" src="https://firebasestorage.googleapis.com/v0/b/fire1-946cc.appspot.com/o/photos%2F1727553861543_DSC02418.JPG?alt=media&token=fd15b7cf-cd78-4ef2-8c92-18810846852b">
<img width="20%" src="https://firebasestorage.googleapis.com/v0/b/fire1-946cc.appspot.com/o/photos%2F1727553974699_DSC02425.JPG?alt=media&token=9e64d37c-8417-4915-b159-e192e658e776">
<img width="20%" src="https://firebasestorage.googleapis.com/v0/b/fire1-946cc.appspot.com/o/photos%2F1727556890429_DSC02426.JPG?alt=media&token=86fcf597-674f-4c80-9371-31874e24debe">
<img width="20%" alt="ok" src = "https://lh3.googleusercontent.com/pw/AP1GczOZm_D2TLBQYPYTNiVAdAiu1KrBiOjsITQveKezYnPMe4E4fLOtLzK4IkI7JIQIz0pqPHjFbtC3MfaLj5qoi39wHsek09fog315x1NDG0xY5Wnnz9ImzkQkLfLzCz9D3E_4EHTDA-AptuhBjzK5NgmA=w1263-h947-s-no?authuser=0">





