
<h1>Testing gh pages v2 remote only!</h1>
Screen Width: {{screenWidth}}  Screen Height: {{screenHeight}}
<button mat-flat-button color="primary" (click)="inc()">Add 1</button>
&nbsp;
<button mat-flat-button color="accent" (click)="dec()">Sub 1</button>
&nbsp;
<button mat-flat-button color="warn" >warn flat button</button>
&nbsp;
<button mat-button>Basic</button>
<counter [value]=count></counter>
<app-hello [name] = name></app-hello>
<p>How to pass data from Angular to CSS</p>
    @for(rect of rects; track rect){
        <div style="--size:{{rect}}">{{rect}} of width</div>
    }
<p>
  You can define a css variable in your html tag's style property with the syntax `--[NAME]:[VALUE]`.
  But is it more complicated than it's worth? 
</p>
<img width="20%" src="https://firebasestorage.googleapis.com/v0/b/fire1-946cc.appspot.com/o/test%2F1697580209548_IMG_20230907_182822054_BURST001.jpg?alt=media&token=7e7698a1-709a-4dd1-b6c5-1714dc26fc42">
<img width="20%" src="https://firebasestorage.googleapis.com/v0/b/fire1-946cc.appspot.com/o/test%2F1697625346678_IMG_20220616_195016746_BURST000_COVER_TOP.jpg?alt=media&token=6d079adc-c5d7-4c9b-a1f8-b108d1732a45">
<img width="20%" src="https://firebasestorage.googleapis.com/v0/b/fire1-946cc.appspot.com/o/test%2F1697379524675_IMG-20230804-WA0002.jpg?alt=media&token=57836520-4fce-40c2-ae51-adb0fd85d861">

<img width="20%" src="https://firebasestorage.googleapis.com/v0/b/fire1-946cc.appspot.com/o/photos%2F1736520157969_IMG_20241126_143134973.jpg?alt=media">
<img width="50%" src="https://firebasestorage.googleapis.com/v0/b/fire1-946cc.appspot.com/o/photos%2F1736526317775_IMG_20240601_111329553_HDR.jpg?alt=media">
<img width="40%" src="https://firebasestorage.googleapis.com/v0/b/fire1-946cc.appspot.com/o/photos%2F1736526608080_IMG_20240809_175044129.jpg?alt=media">
<img width="20%" src="https://firebasestorage.googleapis.com/v0/b/fire1-946cc.appspot.com/o/test%2F1715525507911_IMG-20240409-WA0003.jpg?alt=media&token=ba75c4f9-1852-4322-bd41-a0bf826da632">
<img width="20%" src="https://firebasestorage.googleapis.com/v0/b/fire1-946cc.appspot.com/o/test%2F1708083646045_IMG-20240126-WA0002.jpg?alt=media&token=8da2ccc3-b627-49a2-8792-2c8af6eacaab">
<img width="20%" src="https://firebasestorage.googleapis.com/v0/b/fire1-946cc.appspot.com/o/photos%2F1727553861543_DSC02418.JPG?alt=media&token=fd15b7cf-cd78-4ef2-8c92-18810846852b">



